In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp
import os
os.chdir(r'C:\Users\surya\Desktop')

In [3]:
pwd

'C:\\Users\\surya\\Desktop'

In [18]:
df=pd.read_csv("Booking_Data_Assignment.csv")
df.shape

(13026, 19)

In [19]:
df.head()

,ID,more_than_once,Intro View,Audio Journey,Self Explore,Accessories,EMI,Exchange,Book Now,Finance,Test Drive,Terms & Condition,Model ID,Variant ID,Showroom Price,Accessories price,City,State,Pincode
0,1040781,1,yes,no,no,yes,no,no,no,no,no,no,3,62,2049800,"68,629",Delhi,Delhi,NaN
1,1040782,0,no,no,no,no,no,no,no,no,no,no,3,62,2069800,NaN,Delhi,Delhi,NaN
2,1040783,0,no,no,no,no,no,no,no,no,no,no,3,62,2069800,0,Delhi,Delhi,NaN
3,1040784,1,no,no,no,yes,no,no,no,no,no,no,5,85,1455800,"21,697",Delhi,Delhi,NaN
4,1040785,1,no,no,no,no,no,no,no,no,no,no,4,93,4077800,0,Delhi,Delhi,NaN

In [6]:
df.describe()

,ID,more_than_once,Model ID,Variant ID,Showroom Price
count,1.302600e+04,13026.000000,13026.000000,13026.000000,1.302600e+04
mean,1.050714e+06,0.493168,3.708506,68.787655,2.067519e+06
std,5.839826e+03,0.499973,1.752568,16.238966,7.372671e+05
min,1.040781e+06,0.000000,1.000000,36.000000,1.031800e+06
25%,1.045609e+06,0.000000,3.000000,59.000000,1.669800e+06
50%,1.050596e+06,0.000000,5.000000,73.000000,1.977800e+06
75%,1.055752e+06,1.000000,5.000000,80.000000,2.069800e+06
max,1.060907e+06,1.000000,7.000000,136.000000,4.077800e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 13026 non-null  int64
 1   more_than_once     13026 non-null  int64
 2   Intro View         13026 non-null  object
 3   Audio Journey      13026 non-null  object
 4   Self Explore       13026 non-null  object
 5   Accessories        13026 non-null  object
 6   EMI                13026 non-null  object
 7   Exchange           13026 non-null  object
 8   Book Now           13026 non-null  object
 9   Finance            13026 non-null  object
 10  Test Drive         13026 non-null  object
 11  Terms & Condition  13026 non-null  object
 12  Model ID           13026 non-null  int64
 13  Variant ID         13026 non-null  int64
 14  Showroom Price     13026 non-null  int64
 15  Accessories price  10498 non-null  object
 16  City               13026 non-null  object
 17  State              13026 non-null  object
 18  Pincode            1165 non-null   object
dtypes: int64(5), object(14)
memory usage: 1.9+ MB

In [8]:
df.groupby(['City'])['ID'].nunique()

City
Agra             4
Ahmedabad        5
Ajmer            1
Aligarh          2
Allahabad        1
                ..
Varanasi         1
Vijayawada      11
Vizag           64
Warangal         5
Yamuna Nagar     1
Name: ID, Length: 107, dtype: int64

In [9]:
df.groupby(['State'])['ID'].nunique()

State
Andhra Pradesh          98
Assam                   13
Bihar                    5
Chandigarh               3
Chhattisgarh             7
Delhi                11491
Goa                      4
Gujarat                 66
Haryana                174
Himachal Pradesh         2
Jammu and Kashmir        3
Jharkhand               10
Karnataka              399
Kerala                  19
Madhya Pradesh          17
Maharashtra            360
Odisha                  26
Punjab                  15
Rajasthan                5
Tamil Nadu             142
Telangana              104
Uttar Pradesh           37
Uttarakhand              7
West Bengal             19
Name: ID, dtype: int64

In [20]:
#Removing variables the could introduce bias because of uneven distribution
df.drop(['City','State','Pincode'],axis=1,inplace=True)

In [21]:
df.shape

(13026, 16)

In [12]:
print(df.columns.tolist())

['ID', 'more_than_once', 'Intro View', 'Audio Journey', 'Self Explore', 'Accessories', 'EMI', 'Exchange', 'Book Now', 'Finance', 'Test Drive', 'Terms & Condition', 'Model ID', 'Variant ID', 'Showroom Price', 'Accessories price']

In [13]:
df.head()

,ID,more_than_once,Intro View,Audio Journey,Self Explore,Accessories,EMI,Exchange,Book Now,Finance,Test Drive,Terms & Condition,Model ID,Variant ID,Showroom Price,Accessories price
0,1040781,1,yes,no,no,yes,no,no,no,no,no,no,3,62,2049800,"68,629"
1,1040782,0,no,no,no,no,no,no,no,no,no,no,3,62,2069800,NaN
2,1040783,0,no,no,no,no,no,no,no,no,no,no,3,62,2069800,0
3,1040784,1,no,no,no,yes,no,no,no,no,no,no,5,85,1455800,"21,697"
4,1040785,1,no,no,no,no,no,no,no,no,no,no,4,93,4077800,0

In [22]:
df['Intro View'] = df['Intro View'].map({'yes': 1, 'no': 0})
df['Audio Journey'] = df['Audio Journey'].map({'yes': 1, 'no': 0})
df['Self Explore'] = df['Self Explore'].map({'yes': 1, 'no': 0})
df['Accessories'] = df['Accessories'].map({'yes': 1, 'no': 0})
df['EMI'] = df['EMI'].map({'yes': 1, 'no': 0})
df['Exchange'] = df['Exchange'].map({'yes': 1, 'no': 0})
#df['Book Now'] = df['Intro View'].map({'yes': 1, 'no': 0})
df['Finance'] = df['Finance'].map({'yes': 1, 'no': 0})
df['Test Drive'] = df['Test Drive'].map({'yes': 1, 'no': 0})
df['Terms & Condition'] = df['Terms & Condition'].map({'yes': 1, 'no': 0})

In [23]:
df.head()

,ID,more_than_once,Intro View,Audio Journey,Self Explore,Accessories,EMI,Exchange,Book Now,Finance,Test Drive,Terms & Condition,Model ID,Variant ID,Showroom Price,Accessories price
0,1040781,1,1,0,0,1,0,0,no,0,0,0,3,62,2049800,"68,629"
1,1040782,0,0,0,0,0,0,0,no,0,0,0,3,62,2069800,NaN
2,1040783,0,0,0,0,0,0,0,no,0,0,0,3,62,2069800,0
3,1040784,1,0,0,0,1,0,0,no,0,0,0,5,85,1455800,"21,697"
4,1040785,1,0,0,0,0,0,0,no,0,0,0,4,93,4077800,0

In [24]:
df.groupby(['Book Now'])['ID'].nunique()

Book Now
no     12975
yes       51
Name: ID, dtype: int64

In [32]:
df.select_dtypes(include=['object']).columns.tolist()

['Book Now']

In [26]:
df['Accessories price'].describe()

count     10498
unique     2889
top           0
freq       6486
Name: Accessories price, dtype: object

In [29]:
df['Accessories price'].isnull().sum()

0

In [28]:
#Replacing nan with zeroes
df['Accessories price']=df['Accessories price'].fillna(0)

In [31]:
df['Accessories price']=pd.to_numeric(df['Accessories price'], errors='coerce').fillna(0, downcast='infer')

In [34]:
df2=df.copy()
df2.shape

(13026, 16)

In [35]:
df.columns

Index(['ID', 'more_than_once', 'Intro View', 'Audio Journey', 'Self Explore',
       'Accessories', 'EMI', 'Exchange', 'Book Now', 'Finance', 'Test Drive',
       'Terms & Condition', 'Model ID', 'Variant ID', 'Showroom Price',
       'Accessories price'],
      dtype='object')

# creating dummy variables

In [36]:
dummies = pd.get_dummies(df['Model ID']).rename(columns=lambda x: 'Model_ID_' + str(x))
df=pd.concat([df,dummies],axis=1)
df.drop(['Model ID'],axis=1,inplace = True)

In [37]:
dummies = pd.get_dummies(df['Variant ID']).rename(columns=lambda x: 'Variant ID_' + str(x))
df=pd.concat([df,dummies],axis=1)
df.drop(['Variant ID'],axis=1,inplace = True)

In [38]:
df.shape

(13026, 72)

# Logistic Regression

In [39]:
x=df.drop(['Book Now'],axis=1)
print(x.shape)
y=df['Book Now']
print(y.shape)

(13026, 71)
(13026,)

In [40]:
feature_names=x.columns
labels=y.unique()

In [43]:
from sklearn.model_selection import train_test_split
X_train,test_x,y_train,test_lab = train_test_split(x,y,test_size = 0.4,
                                                  random_state=45)

In [41]:
from sklearn.linear_model import LogisticRegression

In [44]:
logisticRegr = LogisticRegression(solver = 'lbfgs')

In [45]:
model=logisticRegr.fit(X_train, y_train)

In [59]:
model

LogisticRegression()

In [ ]:
#predicting the model

In [47]:
test_predict=model.predict(test_x)

In [48]:
test_predict

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [82]:
from sklearn import metrics
import seaborn as sns

In [83]:
confusion_metrics=metrics.confusion_matrix(test_lab,test_predict)
print(confusion_metrics)

[[5193    0]
 [  18    0]]

In [84]:
#Accuracy
metrics.accuracy_score(test_lab,test_predict)

0.9965457685664939

In [85]:
X_train.columns

Index(['ID', 'more_than_once', 'Intro View', 'Audio Journey', 'Self Explore',
       'Accessories', 'EMI', 'Exchange', 'Finance', 'Test Drive',
       'Terms & Condition', 'Showroom Price', 'Accessories price',
       'Model_ID_1', 'Model_ID_3', 'Model_ID_4', 'Model_ID_5', 'Model_ID_6',
       'Model_ID_7', 'Variant ID_36', 'Variant ID_38', 'Variant ID_40',
       'Variant ID_41', 'Variant ID_44', 'Variant ID_45', 'Variant ID_46',
       'Variant ID_47', 'Variant ID_50', 'Variant ID_52', 'Variant ID_53',
       'Variant ID_55', 'Variant ID_56', 'Variant ID_57', 'Variant ID_58',
       'Variant ID_59', 'Variant ID_60', 'Variant ID_62', 'Variant ID_63',
       'Variant ID_64', 'Variant ID_65', 'Variant ID_67', 'Variant ID_68',
       'Variant ID_69', 'Variant ID_70', 'Variant ID_71', 'Variant ID_72',
       'Variant ID_73', 'Variant ID_74', 'Variant ID_75', 'Variant ID_76',
       'Variant ID_77', 'Variant ID_78', 'Variant ID_80', 'Variant ID_81',
       'Variant ID_82', 'Variant ID_83', 'Variant ID_84', 'Variant ID_85',
       'Variant ID_86', 'Variant ID_87', 'Variant ID_88', 'Variant ID_89',
       'Variant ID_90', 'Variant ID_92', 'Variant ID_93', 'Variant ID_94',
       'Variant ID_108', 'Variant ID_133', 'Variant ID_134', 'Variant ID_135',
       'Variant ID_136'],
      dtype='object')

In [91]:
# important features
x=model.coef_
print(x)

[[-4.33735830e-06  1.71729525e-11 -6.97782833e-13  3.02989451e-13
   1.41657843e-12  3.04464464e-12  8.15095576e-12  0.00000000e+00
   0.00000000e+00  2.52228627e-12  0.00000000e+00 -4.59445305e-07
  -1.12267647e-09  1.93267644e-12  4.07481452e-12 -2.15461249e-12
  -1.43647120e-11  6.35252407e-12 -3.63631357e-15 -2.21389331e-13
  -6.83633720e-14 -9.89763973e-14 -1.34381114e-13  2.11848138e-12
   1.13245070e-12 -4.35126587e-12  2.27426717e-12  1.08988969e-12
  -6.17444687e-14 -2.11567993e-13 -9.48248666e-14 -8.61509928e-14
  -2.46939355e-13 -6.20494601e-14  3.37032186e-12  1.17902754e-12
  -7.43150238e-13 -1.54668975e-13  8.25435574e-13  8.49293114e-13
  -1.28806655e-12 -2.76844232e-12 -8.34168988e-13 -6.62786443e-13
  -2.91743906e-13 -4.60848488e-13 -1.34171948e-12  1.65443378e-12
  -4.61146333e-12 -1.12536217e-13  1.06774330e-12 -5.63501953e-13
   2.28476550e-12  6.83108358e-13 -1.30709156e-12 -2.22161042e-12
   7.60178652e-13 -1.01520629e-12  3.38465021e-12 -1.05338580e-13
  -1.61873274e-12 -3.37782875e-14 -4.14038879e-14 -3.50986013e-14
  -3.20260392e-13 -8.91780852e-14 -3.63631357e-15 -5.79972030e-14
  -1.49028351e-13 -1.72506934e-13 -1.95374852e-13]]

In [87]:
model.classes_

array(['no', 'yes'], dtype=object)

In [88]:
from sklearn.metrics import classification_report, confusion_matrix

In [89]:
print(classification_report(test_lab, model.predict(test_x)))

              precision    recall  f1-score   support

          no       1.00      1.00      1.00      5193
         yes       0.00      0.00      0.00        18

    accuracy                           1.00      5211
   macro avg       0.50      0.50      0.50      5211
weighted avg       0.99      1.00      0.99      5211

C:\Users\surya\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [90]:
model.feature_names_

AttributeError: 'LogisticRegression' object has no attribute 'feature_names_'